/* HOMPAGE STYLE */
* {
  margin: 0;
  padding: 0;
}

.toask {
  background-color: #1370f9;
  color: white;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  padding: 3px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.allquestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 0.5px solid grey;
  text-decoration: none;
  color: black;
}
.links,
.toask {
  text-decoration: none;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile {
  display: flex;
  flex-direction: column;
}
.title {
  margin-left: 150px;
}
.users {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}
.question {
  border-bottom: 0.5px solid grey;
  font-weight: bold;
}

.allquestion:hover .person-icon {
  background-color: #012354; /* Background color when hovering over the parent */
  color: white; /* Icon color when hovering over the parent */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transition */
}

/* ask style */

.containers {
  max-width: 880px;
  margin: 0 auto;
}
.containers-form {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.steps {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stepsoflist {
  margin-top: 20px;
  margin-bottom: 40px;
}

.input-style {
  max-width: 700px;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-style.input {
  padding-bottom: 100px;
  padding-top: 20px;
}

/* answers */
.oneQuestion h2 {
  font-size: 30px;
}
.oneQuestion .titleQ {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px;
  margin-left: 30px;
}
.oneQuestion p {
  margin-left: 60px;
  padding: 5px;
}
.answer-container-wrape {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.answer-container {
  display: flex;
  text-align: start;
  gap: 10px;
  border-bottom: 0.02px solid #b0b0b0;
}
.persons {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.answers {
  width: 80%;
  font-size: 15px;
  padding: 5px;
  margin: 3px;
}

.all-answer {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 15px;

  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  background-color: #f9f6f9;
}
